// Mixins & Variables
@import "abstracts";

.rrze-knowledgebase,
.rrze-kb-category-page,
.rrze-kb-article-page,
.rrze-kb-start-page {
    width: 100%;
    margin: 0 auto 2em;
    line-height: 1.5;

    ul.rrze-kb-article-list {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: .5em;

            a {
                text-decoration: none;

                .dashicons,
                .kb-icon {
                    margin-right: .25em;
                }

                &:hover, &:focus, &:active {
                    .link-text {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .kb-category-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 20px;
        @container kb-page-container (width > 800px) {
            gap: 30px;
        }
        @container kb-category-container (width > 800px) {
            gap: 30px;
        }

        .kb-category-card {
            display: flex;
            flex-direction: column;
            //justify-content: flex-start;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 1em;

            h1 {
                //font-size: 1em;
                font-weight: bold;
                border-bottom: 1px solid #ccc;
                padding-bottom: 0.5em;
                margin-bottom: 0.5em;
            }
            .kb-category-description {
                font-size: 0.8em;
            }

            ul.kb-subsubcategories,
            ul.kb-articles {
                //font-size: .9em;
                list-style: none;
                padding: 0 0 .5em;
                margin: 0 0 .5em;
                border-bottom: 1px solid #ccc;
                &:last-child {
                    border-bottom: none;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }

                li {
                    list-style: none;
                    margin-bottom: .5em;
                    a {
                        display: flex;
                        align-items: flex-start;
                        text-decoration: none;
                        .link-text {
                            text-decoration: underline;
                        }
                        .count {
                            color: unset;
                            font-weight: normal;
                        }
                    }
                }

                .dashicons {
                    margin-right: 0.25em;
                    margin-top: .15em;
                }
            }
        }
    }

    .kb-category-breadcrumbs {
        font-size: smaller;
        margin: 1em 0;
        padding: 0;
        list-style: none;
        li {
            display: inline-block;
            &:not(:last-child):after {
                content: ">";
                margin: 0 0.5em;
            }
        }
    }

    .nothing-found {
        margin: 1em 0;
    }

    .rrze-kb-context-menu {
        margin-top: 1em;
        padding-top: 1em;
        border-top: 1px solid var(--rrze-kb-accent-color, #04316a);
        font-size: smaller;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                a, .current-item {
                    display: flex;
                    align-items: flex-start;
                    min-height: 44px;
                    padding: 0.25em 0;
                    text-decoration: none;
                    box-sizing: border-box;
                }
                a:hover, a:focus, a:active {
                    .link-text {
                        text-decoration: underline;
                    }
                    .dashicons {
                        text-decoration: none;
                    }
                }
                ul {
                    border-left: 1px solid var(--rrze-kb-accent-color, #04316a);
                    li {
                        a, .current-item {
                            padding-left: 1em;
                        }
                        ul {
                            border-left: none;
                            li {
                                a, .current-item {
                                    padding-left: 2em;
                                }
                            }
                        }
                    }
                }
            }
        }
        .dashicons {
            margin-right: 0.25em;
            color: color-mix(in oklch, currentColor 80%, white);
            align-self: start;
        }
        .current-item {
            .link-text {
                border-bottom: 2px solid var(--rrze-kb-accent-color, #04316a);
            }
            .dashicons {
                color: var(--rrze-kb-accent-color, #04316a);
            }
        }
    }
    .rrze-kb-target-group-select {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: .25em;
        margin-bottom: 1em;
        label {
            font-weight: bold;
        }
        select, button {
            border-radius: 0;
            min-height: 44px;
            border: 1px solid #aaa;
            cursor: pointer;
        }
        select {
            padding: 0.5em;
        }
        button {
            padding: 0.5em 1em;
            background-color: #ddd;
            &:hover, &:focus, &:active {
                background-color: #ccc;
            }
        }
    }
}

.rrze-kb-article-page {
    container-name: kb-page-container;
    container-type: inline-size;
    .last-modified {
        font-size: smaller;
        //color: color-mix(in oklch, currentColor 50%, white);
    }
    .rrze-kb-tags {
        margin-bottom: .5em;
    }
    .rrze-kb-target-groups {
        color: color-mix(in oklch, currentColor 50%, white);
        ul.kb-target-groups {
            display: inline-block;
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                display: inline-block;
                margin-left: .5em;

                a {
                    padding: 0 0.5em;
                    text-decoration: none;
                    letter-spacing: 0.02em;
                    /*background-color: var(--rrze-kb-accent-color, #04316a);
                    color: var(--rrze-kb-contrast-color, #fff);

                    &:hover, &:focus, &:active {
                        background-color: color-mix(in oklch, var(--rrze-kb-accent-color, #04316a) 80%, black);
                    }*/
                }

            }
        }
    }
    .rrze-kb-article-inner {
        .entry-footer {
            border-top: 1px solid #ccc;
            padding-top: .5em;
        }
        .rrze-kb-dependencies {
            padding: 1em;
            margin: 1em 0;
            background-color: #f8f8f8;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: smaller;
            h2 {
                margin-top: 0;
            }
        }
        .rrze-kb-toc-container {
            h2 {
                margin: 0 0 .5em;
                font-size: 1.2em;
                &:after {
                    content: "";
                    -webkit-mask-size: var(--icon-size-mask, 50%);
                    mask-size: var(--icon-size-mask, 50%);
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                    -webkit-mask-position: center;
                    mask-position: center;
                    display: inline-block;
                    width: 44px;
                    height: 44px;
                    mask-image: url(../img/keyboard_arrow_down.svg);
                    -webkit-mask-image: url(../img/keyboard_arrow_down.svg);
                    background-color: #000;
                    vertical-align: middle;
                    @container kb-page-container (width > 800px) {
                        display: none;
                    }
                }
            }
            .rrze-kb-toc {
                font-size: smaller;
                height: 0;
                overflow: hidden;
                transform-origin: top;
                transform: scaleY(0);
                opacity: 0;
                transition:
                        transform .3s ease,
                        opacity .25s ease;
                &.open {
                    height: auto;
                    transform: scaleY(1);
                    opacity: 1;
                }
                @container kb-page-container (width > 800px) {
                    height: auto;
                    opacity: 1;
                    transform: none;
                }
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li {
                        a {
                            display: block;
                            padding: 0.25em 0;
                            text-decoration: none;
                            //text-decoration-color: color-mix(in oklch, currentColor 40%, white);
                            //border-bottom: 1px solid var(--rrze-kb-accent-color, #04316a);
                            border-bottom: 1px solid #ccc;
                            &:hover {
                                text-decoration: underline;
                                //text-decoration-color: inherit;
                            }
                        }
                        ul {
                            li {
                                a {
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                    ul {
                        padding-left: 1em;
                    }
                }
            }
        }
        @container kb-page-container (width > 800px) {
            display: grid;
            grid-template-rows: auto;
            align-items: flex-start;
            grid-template-columns: 2fr 1fr;
            gap: 2em;
            .rrze-kb-toc-container {
                order: 2;
                //border-left: 1px solid #ccc;
                padding-left: .5em;
            }
            .entry-content {
                order: 1;
                margin-top: 0;
                .entry-header {
                    margin-top: 0;
                }
            }
            .rrze-kb-context-menu {
                order: 3;
                grid-column: 1/span 2;
            }
        }
        @container kb-page-container (width > 1200px) {
            grid-template-columns: 2fr 5fr 2fr;
            .rrze-kb-toc-container {
                order: 3;
            }
            .entry-content {
                order: 2;
            }
            .rrze-kb-context-menu {
                order: 1;
                grid-column: 1/span 1;
                margin-top: 0;
                padding-top: 0;
                border-top: none;
            }
        }
    }
}

.rrze-kb-category-page {
    container-name: kb-category-container;
    container-type: inline-size;
    .rrze-kb-category-inner {
        @container kb-category-container (width > 800px) {
            display: grid;
            grid-template-rows: auto;
            align-items: flex-start;
            grid-template-columns: 1fr 2fr;
            gap: 2em;
            .entry-content {
                order: 2;
                margin-top: 0;
                .entry-header {
                    margin-top: 0;
                }
            }
            .rrze-kb-context-menu {
                order: 1;
                margin-top: 0;
                padding-top: 0;
                border-top: none;
            }
        }
        @container kb-category-container (width > 1000px) {
            grid-template-columns: 2fr 5fr;
        }
        @container kb-category-container (width > 1200px) {
            grid-template-columns: 2fr 7fr;
        }
    }
}

.rrze-kb-start-page {
    container-name: kb-page-container;
    container-type: inline-size;
    .rrze-kb-search {
        border: 1px solid var(--rrze-kb-accent-color, #04316a);
        padding: 1em;
        margin-bottom: 2em;
        .rrze-kb-search-form {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas:
                "search"
                "category"
                "order";
            align-items: flex-start;
            gap: 1em;
            @container kb-page-container (width > 700px) {
                grid-template-columns: 1fr 1fr;
                grid-template-areas:
                    "search search"
                    "category order";
            }
            @container kb-page-container (width > 1200px) {
                grid-template-columns: 3fr 1fr 1fr;
                grid-template-areas: "search category order";
            }
            label {
                cursor: pointer;
            }
            .kb-search-input-wrapper {
                grid-area: search;
            }
            .filter-kb-category {
                grid-area: category;
            }
            .filter-kb-order {
                grid-area: order;
            }
            input[type=search],
            button.search-submit {
                padding: 10px;
                margin-bottom: 0;
                border: 1px solid #ccc;
                font-size: 1em;
                line-height: 1.5;
            }
            button.search-submit,
            button.submit-filter {
                cursor: pointer;
            }
        }
    }
}

.rrze-kb-recent-articles {
    margin-top: 2em;
    margin-bottom: 1em;
    @include rrze-kb-icon-list('document');
}

@media print {
    .kb-category-navigation,
    .rrze-kb-toc-container,
    .rrze-kb-context-menu {
        display: none;
    }
    .entry-header {
        display: block !important;
    }
}

// Theme Stylings
@import "fau-elemental";
@import "rrze-2019";
